<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>lala</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
<form action="/luu-khach-hang" method="post">
    <input type="text" name="TenKH" placeholder="Tên KH"/><br>
    <input type="text" name="DienThoai" placeholder="Điện Thoại"/><br>
    <input type="text" name="DiaChi" placeholder="Địa Chỉ"><br>
    <button type="submit">Submit</button>
</form>
</body>
</html>