
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>lala</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>

<h2>Danh sách Sản Phẩm</h2>
<ol>
    <% sps.map(function (i) {%>
        <li><%= i.TenSP %></li>
    <%})%>


</ol>
</body>
</html>