<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>lala</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
<form action="/luu-san-pham" method="post">
    <input type="text" name="TenSP" placeholder="Tên SP"/><br>
    <input type="text" name="MoTa" placeholder="Mô Tả"/><br>
    <input type="text" name="DonVi" placeholder="Đơn Vị"><br>
    <input type="text" name="Gia" placeholder="Giá"><br>
    <button type="submit">Submit</button>
</form>
</body>
</html>